* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: url(../img/back.jpeg) no-repeat center/cover;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

.main-nav {
    display: block;
    padding: 20px;
    text-align: right;
}

.main-nav a {
    background-color: #74787b;
    display: inline-block;
    padding: 0 40px;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(180deg, rgba(116,120,123,1) 12%, rgba(0,0,0,1) 100%);
}

.main-nav a:hover {
    background: linear-gradient(0deg, rgba(116,120,123,1) 12%, rgba(0,0,0,1) 100%);
}


@media screen and (max-width:960px) {
    .main-nav {
        position: absolute;
        left: -50%;
        top: 50%;
        translate: -50% -50%;
        padding: 0;
        transition: 1s all ease-in-out;
    }
    .main-nav a{
        display: block;
        margin:40px 0;
        text-align: center;
        width: 100%;
    }
    
    body:hover .main-nav {
        left: 50%;
    }
    
    
    body:before {
        position: absolute;
        content: '';
        width: 100vw;
        height: 100vh;
        background: linear-gradient(270deg, rgba(0,0,0,0.5) 0%, rgba(255,0,0,0.5) 100%);
        left: -100%;
        transition: 1s all ease-in-out;
    }
    
    body:hover:before {
        left: 0;
    }

    .burger-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        border: solid 2px salmon;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        transition: .5s all ease-in-out;
    }
    
    .burger-menu div {
        /* display: block;
        margin: 5px auto; */
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 65%;
        border-radius: 2px;
        height: 3px;
        background-color: orangered;
        transition: .2s all ease-in-out .5s;
    }

    .burger-menu div:nth-of-type(1) {
        top: 30%;
    }

    .burger-menu div:nth-of-type(3) {
        top: 70%;
    }

    .burger-menu:hover {
        rotate: 1turn;
        border-color: brown;
    }

    .burger-menu:hover div{
        background-color: red;
    }

    .burger-menu:hover div:nth-of-type(2n+1){
        width: 45%;
    }
}