/* GLOBAL */
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

/* HEADER */

/* Nav Bar*/

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F6F4F4;
    text-align: center;
    padding: 5px 20px;
}

.main-nav img {
    display: inline-block;
    width: 170px;
}

.main-nav a {
    color: #555;
    text-decoration: none;
    padding: 13px 18px;
    font-size: 16px;
    vertical-align: middle;
}

.main-nav a:nth-of-type(2){
    color: #88B7BD;
    padding-left: 10%;
}

.main-nav a:hover {
    color: #88B7BD;
}

.main-nav .btn{
    width: 130px;
    padding: 12px 24px;
    background-color: #ABA9A9;
    color: #fff;
}

.main-nav .btn:hover{
    color: #fff;
    background-color: #88B7BD;
}

/* btn */

.btn{
    display: inline-block;
    padding: 15px 30px;
    font-weight: 600;
    text-decoration: none;
}

.btn-ghost {
    border-width: 2px;
    border-style: solid;
}

.btn-ghost__light {
    background: #fff;
    color: #fff;
}
.btn-ghost__light:hover {
    background: #fff4;
}
