@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: "Roboto", sans-serif;
}

section {
	width: 1140px;
	margin: auto;
}

h2 {
	text-transform: uppercase;
	margin-bottom: .2rem;
}

h3 {
	font-size: 15px;
	margin-bottom: .2rem;
}

a {
	text-decoration: none;
}
