/* Consignes */
/*
1- Créer un contexte de Grid sur .grid-container avec une gouttière de 1rem
2- Le nombre de colonne est variable : il contiendra autant de colonnes de taille 1fr et de 200px minimum.
3- Les images devront s'adapter à leur cellule (indice : stretch).
   Trouver un moyen pour qu'elles ne soient pas déformées et conservent leur ratio.
   BONUS : utiliser les classes .fit-left et .fit-right pour afficher la bonne portion de l'image
4- Les images de classe "portrait" doivent occuper deux rangées de hauteur
*/




/* Reset */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: stretch;
  justify-items: stretch;
}

.grid-container > *{
  object-fit: cover;
}

.fit-right {
  object-position: right;
}

.fit-left {
  object-position: left;
}

.portrait {
  grid-row: span 2;
}
